---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Section2 from "../components/section2.astro";
import Heading from "../components/Heading.astro";
---

<MainLayout title="Visitkort - Märtha Fallman">
  <section class="mt-12">
    <a href="/about"><Button variant="primary" size="small">Om mig</Button></a>
  </section>
  <section class="text-center">
    <Heading htmlheading="h1" size="large" class="text-primary-red" font="display">Design Beyond Visuals</Heading>
    <a href="#tab-kompetencer"><Button variant="primary" size="medium" class="scroll-smooth">Se kompetencer</Button></a>
  </section>

  <section class="text-center mt-50 text-primary-red">
    <Heading htmlheading="h2" size="medium" font="display">Märtha Fallman</Heading>
  </section>

  <section>
    <Section2 />
  </section>
</MainLayout>
