---
import Heading from "./Heading.astro";
---

<div class="flex gap-10 justify-center pb-10 text-primary-red">
  <Heading htmlheading="h3" size="extraSmall" font="sans">mafa0005@stud.ek.dk</Heading>
  <Heading htmlheading="h3" size="extraSmall" font="sans">31699141</Heading>
</div>
