---
import "../styles/tailwind.css";
import Heading from "./Heading.astro";
import Text from "./Text.astro";
---

<section id="tab-kompetencer" class="mb-40 mt-30" x-data="{ active: 'kompetencer' }">
  <div class="mt-16 max-w-4xl mx-auto">
    <!-- KNAPPAR -->
    <section class="ml-6 space-x-1">
      <button x-on:click="active = 'kompetencer'" class="px-6 py-3 text-md font-display uppercase bg-primary-yellow text-primary-red hover:bg-primary-red hover:text-primary-yellow focus:bg-primary-red focus:text-primary-yellow font-medium">
        Kompetencer
      </button>

      <button x-on:click="active = 'erfarenheter'" class="px-6 py-3 text-md font-display uppercase bg-primary-yellow text-primary-red hover:bg-primary-red hover:text-primary-yellow focus:bg-primary-red focus:text-primary-yellow font-medium">
        Erfarenheter
      </button>

      <button x-on:click="active = 'socials'" class="px-6 py-3 text-md font-display uppercase bg-primary-yellow text-primary-red hover:bg-primary-red hover:text-primary-yellow focus:bg-primary-red focus:text-primary-yellow font-medium">
        Socials
      </button>
    </section>

    <!-- PANEL: Kompetenser -->
    <section x-show="active === 'kompetencer'" class="bg-primary-red text-primary-yellow p-20 ml-6 mr-6 shadow-md">
      <Heading htmlheading="h2" size="medium" font="display">Kompetenser</Heading>

      <div>
        <Heading htmlheading="h3" size="small" font="display">UX-design</Heading>
        <Text teksttype="brødtekst">
          Jag har erfarenhet av hela UX-processen, rån research och wireframes till prototyper och användartester. Genom mina projekt har jag lärt mig att kombinera estetik med funktion, skapa tydliga flöden och arbeta iterativt med feedback för att
          förbättra användarupplevelsen.
        </Text>
      </div>

      <div>
        <Heading htmlheading="h3" size="small" font="display">Digitale værktøjer</Heading>
        <Text teksttype="brødtekst">
          Jag arbetar med Adobe Photoshop till bildredigering och retuschering, Adobe Illustrator till vektorbaserad grafik, logotyper och illustrationer samt Adobe Premiere Pro till videoredigering och rörelsedesign. Dessutom använder jag Figma till
          prototyping, UI-design och samarbetsarbetsflöden, och Canva till att skapa snabba, visuellt tilltalande layouter.
        </Text>
      </div>

      <div>
        <Heading htmlheading="h3" size="small" font="display">Programmering</Heading>
        <Text teksttype="brødtekst">
          Jag har grundläggande erfarenhet inom front-end-utveckling, där jag arbetat med HTML, CSS och JavaScript för att skapa interaktiva och responsiva lösningar. Under mina projekt har jag även använt Astro för att bygga komponentbaserade
          webbplatser och utforskat hur kod kan kombineras med design för att stärka användarupplevelsen.
        </Text>
      </div>
    </section>

    <!-- PANEL: Erfarenheter -->
    <section x-show="active === 'erfarenheter'" class="bg-primary-red text-primary-yellow p-20 ml-6 mr-6 shadow-md">
      <Heading htmlheading="h2" size="medium" font="display">Erfarenheter</Heading>

      <Heading htmlheading="h3" size="small" font="display">Uddannelser</Heading>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class="font-secondary">
          <Text teksttype="brødtekst">Københavns Erhvervsakademi <br />Multimedia design <br />2024 - igangværende</Text>
        </div>
        <div class="font-secondary">
          <Text teksttype="brødtekst">Linnéuniversitet <br />Digital Image Editing <br />2023</Text>
        </div>
      </div>

      <div class="font-secondary">
        <Heading htmlheading="h3" size="small" font="display">Relevant arbejde</Heading>
        <Text teksttype="brødtekst">MakesYouLocal <br />E-commerce Assistant <br />2023 - igangværende</Text>
      </div>
    </section>

    <!-- PANEL: Socials -->
    <section x-show="active === 'socials'" class="bg-primary-red text-primary-yellow p-20 ml-6 mr-6 shadow-md">
      <Heading htmlheading="h2" size="medium" font="display">Kontakt mig på Sociale medier</Heading>
      <div class="flex gap-5">
        <a href="https://www.instagram.com/marthafallmans" target="_blank" class="hover:scale-115"><img src="/src/assets/images/ig.png" alt="Instagram" /></a>
        <a href="https://www.linkedin.com/in/märtha-fallman-769233167/" target="_blank" class="hover:scale-115"><img src="/src/assets/images/linked.png" alt="LinkedIn" /></a>
        <a href="https://se.pinterest.com/marthafallmans/" target="_blank" class="hover:scale-115"><img src="/src/assets/images/pintrest.png" alt="Pinterest" /></a>
      </div>
    </section>
  </div>
</section>
