---
// Henter parametrene fra Astro.props
// <!-- I min prototype på visitkortet fanns inga länkar som inte är bilder, har nu istället använt x:on click på kompetencer.astro komponenten istället -->
const { href = "#", target = "_self" } = Astro.props;
---

<a href={href} class="underline" target={target}><slot /></a>
